#mobile-menu-button {
    display: none;
    border: none;
    background-color: transparent;
    float: right;
    position: absolute;
    top: 37px;
    width: 24px;
    right: 44px;
    z-index: 100;
    outline: 0;
}

#mobile-menu-text {
    display: none;
    position: absolute;
    top: 19px;
    right: 68px;
    font-weight: 400;
    cursor: pointer;
    font-size: 14px;
    padding: 22px 20px;
    color: #fff;
    z-index: 4;
}

.menu-toggle, .main-navigation.toggled ul {
    display: block;
}

#mobile-menu-button span:nth-child(1) {
    top: 0px;
}

#mobile-menu-button span {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    background: #fff;
    opacity: 1;
    left: 0;
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    transition: .25s ease-in-out;
}

#mobile-menu-button span:nth-child(2), #mobile-menu-button span:nth-child(3) {
    top: 10px;
}

#mobile-menu-button span:nth-child(4) {
    top: 20px;
}

#mobile-menu {
    display: none;
    height: 100%;
    width: 100%;
    position: fixed;
    opacity: 0;
    text-align: center;
    height: 0;
    z-index: 3;
    left: 0;
    top: 0;
    background-color: #41A8DF;
    overflow-x: hidden;
    transition: opacity 300ms linear;
}

#mobile-menu .menu-main-menu-container {
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    min-width: 442px;
}
#mobile-menu ul#primary-menu {
    max-width: 403px;
    margin: 0 auto;
}

#mobile-menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#mobile-menu ul li.menu-item-has-children:first-child {
    padding-top: 0;
    border-top: none;
}

#mobile-menu ul li.menu-item-has-children {
    padding-bottom: 20px;
    border-bottom: 2px solid #fff;
    margin-bottom: 23px;
}

#mobile-menu ul li {
    line-height: 40px;
}

#mobile-menu ul li a {    
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    text-decoration: none;
    color: #fff
}

#mobile-menu.opened {
    opacity: 1;
    height: 100%;
    z-index: 10;
}

#mobile-menu-button.opened {
    outline: 0;
    position: absolute;
}

#mobile-menu-button.opened span {
    background-color: #fff;
}

#mobile-menu-button.opened span:nth-child(1) {
    top: 11px;
    width: 0%;
    left: 50%;
}

#mobile-menu-button.opened span:nth-child(2) {
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

#mobile-menu-button.opened span:nth-child(3) {
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

#mobile-menu-button.opened span:nth-child(4) {
    top: 20px;
    width: 0%;
    left: 50%;
}

@media (max-width: 960px) {
    #mobile-menu {
        display: block;
    }

    #mobile-menu-button, #mobile-menu-text {
        display: block;
    }
}

@media screen and (min-width: 37.5em) {
    .menu-toggle {
        display: none;
    }
}

@media (max-width: 700px) {
    header#masthead #mobile-menu-text {
        top: 4px;
        right: 66px;
        z-index: 4;
    }

    header#masthead #mobile-menu-button {
        top: 21px;
    }

    header#masthead #mobile-menu-button span {
        height: 2px;
    }

    #mobile-menu-text {
        top: 2px;
        right: 44px;
    }

    #mobile-menu-button {
        top: 20px;
        right: 21px;
    }

    #mobile-menu ul li {
        line-height: 31px;
    }

    #mobile-menu ul li a {
        font-size: 18px;
    }

    #mobile-menu ul li.menu-item-has-children {
        padding-bottom: 45px;
        border-bottom: 1px solid #fff;
        margin-bottom: 45px;
    }

    #mobile-menu ul#primary-menu {
        max-width: 295px;
    }

    #mobile-menu .menu-main-menu-container {
        min-width: 248px;
    }
}